---
import BaseLayout from "../components/layout/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import bylines from "../../data/bylines.json";
import HomepageSection from "../components/HomepageSection.astro";
import ArticleCard from "../components/ArticleCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import WeblogCard from "../components/WeblogCard.astro";
import { combineBylinesWithWeblogEntries } from "../utils/allBylines";

const work = (await Astro.glob("./work/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.dateStarted).valueOf() -
    new Date(a.frontmatter.dateStarted).valueOf()
);

const projects = (await Astro.glob("./play/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.dateStarted).valueOf() -
    new Date(a.frontmatter.dateStarted).valueOf()
);

const weblogEntries = await Astro.glob("./weblog/*.{md,mdx}");

const weblogs = weblogEntries.map((weblog) => ({
  title: weblog.frontmatter.title,
  publication: "Weblog",
  publicationDate: weblog.frontmatter.publicationDate,
  url: weblog.url,
  archiveUrl: "",
  contentType: "weblog",
  soleAuthor: true,
}));

const allWritings = combineBylinesWithWeblogEntries(bylines, weblogs);

const closedPublications = ["Citizen Obsessed"];
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="homepage-content-container">
    <HomepageSection title="Work">
      {
        work.map((work) => (
          <ProjectCard
            url={work.url}
            title={work.frontmatter.title}
            description={work.frontmatter.description}
            heroImage={work.frontmatter.heroImage}
            heroImageAlt={work.frontmatter.heroImageAlt}
          />
        ))
      }
    </HomepageSection>
    <HomepageSection title="Play">
      {
        projects.map((project) => (
          <ProjectCard
            url={project.url}
            title={project.frontmatter.title}
            description={project.frontmatter.description}
            heroImage={project.frontmatter.heroImage}
            heroImageAlt={project.frontmatter.heroImageAlt}
          />
        ))
      }
    </HomepageSection>
    <HomepageSection title="Writings">
      {
        allWritings.map((article) => (
          <ArticleCard
            url={
              closedPublications.includes(article.publication)
                ? article.archiveUrl
                : article.url
            }
            title={article.title}
            publication={article.publication}
            publicationDate={article.publicationDate}
          />
        ))
      }
    </HomepageSection>
  </div>
</BaseLayout>

<style>
  .homepage-content-container {
    height: 100vh;
  }

  @media (min-width: 768px) {
    .homepage-content-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 0px;
    }
  }
</style>
