---
import BaseHead from "../components/layout/BaseHead.astro";
import Header from "../components/layout/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import bylines from "../../data/bylines.json";
import HomepageSection from "../components/HomepageSection.astro";
import ArticleCard from "../components/ArticleCard.astro";
import ProjectCard from "../components/ProjectCard.astro";
import WeblogCard from "../components/WeblogCard.astro";

const projects = (await Astro.glob("./projects/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.dateStarted).valueOf() -
    new Date(a.frontmatter.dateStarted).valueOf()
);

const weblogEntries = (await Astro.glob("./weblog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <HomepageSection title="Projects">
        {
          projects.map((project) => (
            <ProjectCard
              url={project.url}
              title={project.frontmatter.title}
              description={project.frontmatter.description}
              heroImage={project.frontmatter.heroImage}
              heroImageAlt={project.frontmatter.heroImageAlt}
            />
          ))
        }
      </HomepageSection>
      <HomepageSection title="Articles">
        {
          bylines.map((article) => (
            <ArticleCard
              url={article.url}
              title={article.title}
              publication={article.publication}
              publicationDate={article.publicationDate}
            />
          ))
        }
      </HomepageSection>
      <HomepageSection title="Web Log">
        <p>Pending...</p>
        <!-- {
          weblogEntries.map((weblog) => (
            <WeblogCard
              url={weblog.url}
              title={weblog.frontmatter.title}
              standfirst={weblog.frontmatter.standfirst}
              date={weblog.frontmatter.date}
              featuredImage={weblog.frontmatter.featuredImage}
            />
          ))
        } -->
      </HomepageSection>
    </main>
  </body>
</html>
