---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import bylines from "../../data/bylines.json";

const projects = (await Astro.glob("./projects/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.dateStarted).valueOf() -
    new Date(a.frontmatter.dateStarted).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h2>Projects</h2>
        {
          projects.map((project) => (
            <div>
              <h3>{project.frontmatter.title}</h3>
              <div>{project.frontmatter.description}</div>
              <img src={project.frontmatter.heroImage} alt="" />
            </div>
          ))
        }
      </section>
      <section>
        <h2>Writings</h2>
        {
          bylines.map((article) => (
            <div>
              <a href={article.url}>
                <h3>{article.title}</h3>
              </a>
              <div>
                <i>{article.publication}</i>, {article.publicationDate}
              </div>
            </div>
          ))
        }
      </section>
      <section>
        <h2>Web Log</h2>
      </section>
    </main>
    <style>
      section {
        font-family: Oswald;
        font-weight: 300;
        width: 25%;
        padding: 10px;
        display: inline-block;
        overflow: auto;
        vertical-align: top;
        height: 100%;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      h2 {
        font-size: 2rem;
        text-align: center;
      }
      h3 {
        font-size: 1.5rem;
      }
      /* Hide scrollbar for Chrome, Safari and Opera */
      section::-webkit-scrollbar {
        display: none;
      }
    </style>
  </body>
</html>
