---
import BaseHead from "../components/layout/BaseHead.astro";
import Header from "../components/layout/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

const weblogs = (await Astro.glob("./weblog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            weblogs.map((weblog) => (
              <li>
                <time datetime={weblog.frontmatter.pubDate}>
                  {new Date(weblog.frontmatter.pubDate).toLocaleDateString(
                    "en-us",
                    {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }
                  )}
                </time>
                <a href={weblog.url}>{weblog.frontmatter.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</html>
