---
export interface Props {
  url: string;
  title: string;
  description: string;
  heroImage: string;
  heroImageAlt: string;
}

const { url, title, description, heroImage, heroImageAlt } = Astro.props;
---

<div class="project-card">
  <a href={url}>
    <img src={heroImage} alt={heroImageAlt} />
    <div class="project-details">
      <h3>{title}</h3>
      <div class="description">{description}</div>
    </div>
  </a>
</div>

<style>
  h3 {
    font-size: 1.5rem;
  }
  img {
    width: 100%;
    aspect-ratio: 3 / 2;
  }
  .project-card {
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    border: solid #121212 3px;
    background-color: #323232;
  }
  .project-card:hover {
    transform: scale(1.01);
  }
  .project-details {
    padding: 10px 20px;
  }
  a {
    color: white;
    text-decoration: none;
  }
</style>
