---
export interface Props {
  url: string;
  title: string;
  standfirst: string;
  date: string;
  featuredImage: string;
}

const { url, title, standfirst, date, featuredImage } = Astro.props;
---

<div class="article-card">
  <a href={url}>
    <img src={featuredImage} alt="" />
    <h3>{title}</h3>
    <div>{standfirst}</div>
    <div>{date}</div>
  </a>
</div>

<style>
  img {
    border-radius: 10px;
  }
  h3 {
    font-size: 1.5rem;
  }
  .article-card {
    padding-bottom: 20px;
  }
</style>
