---
import BaseLayout from "../components/layout/BaseLayout.astro";
import { formatDateRange } from "../utils/dateTimeFormatters";

interface ProjectMetadata {
  title: string;
  link: string;
  description: string;
  role?: string;
  dateStarted: string;
  dateFinished: string;
  heroImage: string;
  heroImageAlt: string;
}

export interface Props {
  content: ProjectMetadata;
}

const {
  content: {
    title,
    link,
    description,
    role,
    dateStarted,
    dateFinished,
    heroImage,
    heroImageAlt,
  },
} = Astro.props;

const fullLink = `https://${link}`;
---

<BaseLayout
  title={`${title} | Projects | Frederick O'Brien`}
  description={description}
>
  <article>
    {
      heroImage && (
        <img width="100%" height={"auto"} src={heroImage} alt={heroImageAlt} />
      )
    }
    <h1 class="title">{title}</h1>
    <p>{description}</p>
    <p>{formatDateRange(dateStarted, dateFinished)}</p>
    <a href={fullLink}>{link}</a>
    <hr />
    <slot />
  </article>
</BaseLayout>

<style>
  article {
    padding-bottom: 3rem;
  }
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }
  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }
  article {
    width: 90%;
    margin: auto;
  }
  .home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 1.3rem;
  }
  img {
    margin-bottom: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
  }

  /* DESKTOP */

  @media (min-width: 1025px) {
    article {
      width: 50%;
      margin: auto;
    }
  }
</style>
